
html{
  scrollbar-color: #3b3a3838 #a09f9e !important;
}



body {
  background: #3b3a3838 !important;
}


.carousel .carousel-img {
    
    filter: blur(8px);
  -webkit-filter: blur(8px);
  }


  .carousel .carousel-inner{
    height: 90vh;
    width: 80%;
  }
  .carousel-inner{
    overflow:hidden;
    left : 10%;

  } 

main{
    max-height: 100vh;
    width: 100%;
    
    overflow: visible;
}

.carousel{
  align-content: center;
}

