<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
    <div class="d-flex align-items-center">
        <img src="public/restologo.png" alt="Logo" class="navbar-brand-logo me-2" style="width: 25%;">
        <a class="navbar-brand" href="/">Restôt</a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <p class="offcanvas-title h1" id="offcanvasDarkNavbarLabel">Restôt</p>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="commandePage.php">Commander</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="plats" role="button" aria-expanded="false">
                Plats
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="restaurants" role="button" aria-expanded="false">
                Nos restaurants
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="VosCommandes" role="button" aria-expanded="false">
                Vos commandes
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>